@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lavenderblush;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* vijual part of the brwser */
  margin: 0;
}

.container {
  background-color: #fff;
  text-align: center;
  margin: 20px 40px;
  width: 600px;
  height: 1000px;
  border: lightblue solid 1px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  position: relative;
}

.msg {
  background-color: royalblue;
  justify-content: center;
  width: 70%;

  border: #999 solid 2px;
  margin: 10px;
  position: relative;
}

.msg.left {
  background-color: rgb(219, 205, 205);
  justify-content: center;
  margin-right: 30%;
  border: rosybrown solid 3px;
}

.msg.rigth {
  background-color: rgb(248, 232, 232);
  justify-content: center;
  margin-left: 28%;
}
.msg h4 {
  position: absolute;
  top: -18px;
  left: 10px;
}

.msg span {
  position: absolute;
  top: 0;
  right: 10px;
}

.message {
  margin-top: 25px;
  border: #000 solid 1px;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

#btn {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

a {
  color: #000;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}
