{% extends 'chatapp/base.html' %}

{% block style %}
<style>
    .container{
        overflow-y: auto;
    }
    .keyboard {
        background-color: rgb(247, 239, 171);
        width: 100%;
        height: 100px;
        margin-top: 70%;
        margin-bottom: 0;
        border-top: solid #999 2px;
    }

    textarea {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 10px;
        height: auto;
    }

    textarea:focus {
        outline: none;
    }

    #send {
        width: 15%; 
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #form {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .keyboard {
        display: flex;
    }
    i {
        position: absolute;
        right: 10px;
        bottom: 5px;
        
    }
    i:active{
        position: absolute;
        right: 10px;
        bottom: 5px;
        color: blue;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <h1> My prject</h1>
    {% for recived in messages %}
    {% if  reciver in recived.sender%}
    <div class="msg left">
        <h4>{{reciver}}</h4>
        <span>{{recived.timestamp}}</span>
        <div class="message">
            <p>{{recived}}</p>
            <i class="fas fa-check-double "></i>
        </div>
    </div>
    {% endif %}
    {% if user in recived.sender %}
    <div class="msg rigth">
        <h4>You</h4>
        <span>{{recived.timestamp}}</span>
        <div class="message">
            <p>{{recived}}</p>
            <i class="fas fa-check-double"></i>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="keyboard">
        {% csrf_token %}
        <form id="form" action="{% url 'post' reciver %}" method="POST">

            <textarea name="text" id="" cols="30" rows="2"></textarea>
            <button id="send">Sent</button>
        </form>
    </div>
</div>
<script>
const url = "{% url 'chat' reciver %}"
fetch(url, {
    method:'POST', Headers:{'X-CSRFToken': csrftoken,}
    ,
    body:JSON.stringify({
        //sender: sender,
       // receiver: receiver,
       // message: message,
       // timestamp: timestamp,
       // is_read: is_read

    })
})
  .then(response => response.text())
  .then(data => console.log(data));




</script>
{% endblock %}