{% extends 'chatapp/base.html' %}

{% block body %}
 <div class="container">
    <h1> My prject</h1>    
    <div class="msg left">
        <h4>User</h4>
        <span>Time</span>
        <div class="message">
            <p>askgdfiugaspun aughsdfuhasjdn aughsdufhguoa</p>
        </div>
    </div>
    
    <div class="msg rigth">
        <h4>{{user}}</h4>
        <span>Time</span>
        <div class="message">
            <p>askgdfiugaspun aughsdfuhasjdn aughsdufhguoa augfdujhba dsg aljdfighpiahgvlinhfdao aiohdgfoihaoihg[oiand aihogfdh[a ndh[oiah</p>
        </div>
    </div>

 </div>
{% endblock %}