{% extends 'chatapp/base.html' %}
{% block style %}
<style>
    ul{
        list-style-type: none;
        
        align-items: center; 
    }
    li{
        font-size: 25px;
        font-weight: bold;
        align-items: center;
        
    }
    .msg-box{
        width: 450px;
        background-color: #fff;
        box-shadow: 0 0 3px rgba(0,0,0,0.4);
        padding: 2rem;
        align-items: center;
    }
    #new{
        color: blue;
    }

</style>
{% endblock %}


{% block body %}
{% if not user %}
<h1>Hello there please login or register!</h1>
{% else %}
<h1>Hello {{user }}</h1>

{% if not new %}
<h3>You have no new messages!</h3>
{% else %}
<h3>You have new message/s from:</h3>
<div class="msg-box">
    <ul>
       
       
        {% for msg in new %}
        <li ><a id="new" href="{% url 'chat' msg %}">{{msg}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endif %}
{% endblock %}